<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.qualitune.category"
            id="org.qualitune.ecore.graph.codegen.command"
            name="Generate Graph Model Code">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.qualitune.ecore.graph.codegen.handler.GenerateGraphModelCodeHandler"
            commandId="org.qualitune.ecore.graph.codegen.command">
            <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.emf.codegen.ecore.genmodel.GenModel">
                  </instanceof></iterate>
            </with></enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="org.qualitune.ecore.graph.codegen.command"
               label="Generate Graph Model Code"
               style="push">
               <visibleWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.emf.codegen.ecore.genmodel.GenModel">
                  </instanceof></iterate>
            </with></visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
