<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/introduceItemGroup.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/renameOption.rolemapping">
      </rolemapping>
      <!--
      <rolemapping
            rolemapping_resource="rolemappings/moveXloosely.rolemapping">
      </rolemapping>
      -->
   </extension>
</plugin>
