<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.smell.registry.ui.calculation">
      <metricCalculation
            class="org.emftext.refactoring.smell.uml_extension.CheckInterfaceSpecifications">
      </metricCalculation>
      <metricCalculation
            class="org.emftext.refactoring.smell.uml_extension.CompareNames">
      </metricCalculation>
      <metricCalculation
            class="org.emftext.refactoring.smell.uml_extension.CountParametersOfMethods">
      </metricCalculation>
      <metricCalculation
            class="org.emftext.refactoring.smell.uml_extension.SearchEmptyClassesAndInterfaces">
      </metricCalculation>
   </extension>

</plugin>
