<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.emftext.refactoring.category"
            name="Model Refactoring">
      </category>
      <view
            allowMultiple="false"
            category="org.emftext.refactoring.category"
            class="org.emftext.refactoring.statistic.views.RefactoringStatisticView"
            icon="icons/sample.gif"
            id="org.emftext.refactoring.statistic.views.RefactoringStatisticView"
            name="Refactoring Registry">
      </view>
   </extension>

</plugin>
