<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.emftext.language.refactoring.roles.registrationBuilder"
         name="RoleModel Registration Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.emftext.language.refactoring.roles.builder.RegistrationBuilderAdapter">
         </run></builder>
   </extension>

</plugin>
