<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- role mappings -->
	<extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/extractCompositeState.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/pullUpProperty.rolemapping">
      </rolemapping>
  </extension>

	<!-- post processors -->
	<extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="ExtractCompositeState"
            nsUri="http://www.eclipse.org/uml2/3.0.0/UML"
            postprocessor="org.eclipse.uml2.refactoring.UMLExtractCompositeStatePostProcessor">
      </postprocessor>
  </extension>
</plugin>
