<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.modelrefactoring.evolution.operators.resource.operators.mopp.OperatorsMetaInformation" id="org.modelrefactoring.evolution.operators.resource.operators.mopp.OperatorsMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.operators.resource.operators.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.operators.resource.operators.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.operators.resource.operators.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.operators.resource.operators.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.operators.resource.operators.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.operators.resource.operators.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.operators.resource.operators.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.operators.resource.operators.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.operators.resource.operators.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.operators.resource.operators.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.operators.resource.operators.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.operators.resource.operators.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.operators.resource.operators.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.operators.resource.operators.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.operators.resource.operators.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.operators.resource.operators.nature" name="operators nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.modelrefactoring.evolution.operators.resource.operators.mopp.OperatorsNature">
			</run>
		</runtime>
		<builder id="org.modelrefactoring.evolution.operators.resource.operators.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.modelrefactoring.evolution.operators.resource.operators.builder" name="operators Builder">
		<builder hasNature="true">
			<run class="org.modelrefactoring.evolution.operators.resource.operators.mopp.OperatorsBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.modelrefactoring.evolution.operators.resource.operators.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.modelrefactoring.evolution.operators.resource.operators.mopp.OperatorsResourceFactoryDelegator" type="operators">
		</parser>
	</extension>
	
	<extension-point id="org.modelrefactoring.evolution.operators.resource.operators.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
