<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.modelrefactoring.evolution.knowledgebase">
      <knowledgebase
            implementation="org.modelrefactoring.evolution.prolog.impl.PrologKnowledgeBase">
      </knowledgebase>
   </extension>

</plugin>
