<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/renamings.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/extractSubDepartment.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Extract Sub-Department"
            nsUri="http://org.emftext/company.ecore"
            postprocessor="org.emftext.language.company.refactoring.ExtractSubDepartmentPostProcessor">
      </postprocessor>
   </extension>

</plugin>
