<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.smell.registry.calculation">
      <metricCalculation
            class="org.emftext.refactoring.smell.ecoresmells.impl.CheckInterfaceSpecificationsImpl">
      </metricCalculation>
      <metricCalculation
            class="org.emftext.refactoring.smell.ecoresmells.impl.CompareNamesOfClassesImpl">
      </metricCalculation>
      <metricCalculation
            class="org.emftext.refactoring.smell.ecoresmells.impl.CountParametersOfMethodsImpl">
      </metricCalculation>
      <metricCalculation
            class="org.emftext.refactoring.smell.ecoresmells.impl.SearchEmptyClassesImpl">
      </metricCalculation>
   </extension>

</plugin>
