<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.smell.registry.ui.calculation">
      <metricCalculation
            class="org.emftext.refactoring.smell.rolessmell.impl.DistinctRoleNamesImpl">
      </metricCalculation>
   </extension>



</plugin>
