csv:file:header: Metamodel,MC,SF,SF/MC,Vertices,Edges,E/V
csv:file:prefix: statisticsMetamodels/dslComplexity_

http://www.eclipse.org/emf/2002/Ecore
http://www.eclipse.org/uml2/4.0.0/UML
http://www.omg.org/spec/BPMN/20100524/MODEL-XMI
http://www.emftext.org/java
http://www.emftext.org/sdk/concretesyntax
metamodels/feature.ecore
http://www.emftext.org/language/timedAutomata
http://www.emftext.org/language/pl0
metamodels/owl.ecore
metamodels/appflow.text.ecore
metamodels/forms.ecore
metamodels/simplegui.ecore
metamodels/textadventure.ecore
metamodels/company.text.ecore
metamodels/office.ecore
http://www.emftext.org/language/roles
metamodels/sandwich_simple.ecore
metamodels/conference.ecore