// syntax: <metamodel> ; <rolemodel> ; <max_path_length> ; <max_results_count>
// <metamodel> : [<path_relative_from_root_of_this_project> 
// 					| <metamodel_uri_starting_with_http>] 		<-- in this case the according resource factory must be registered
//
// <rolemodel> : <path_relative_from_root_of_this_project>

// reference language
// metamodels/EExtractXWithReferenceClass.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 1000
// metamodels/EExtractXWithReferenceClass.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 4 ; 1000

// Ecore
http://www.eclipse.org/emf/2002/Ecore ; rolemodels/moveX.rolestext ; 1 ; 100000
http://www.eclipse.org/emf/2002/Ecore ; rolemodels/IntroduceReferenceClass.rolestext ; 1 ; 100000
http://www.eclipse.org/emf/2002/Ecore ; rolemodels/ExtractX.rolestext ; 1 ; 100000
http://www.eclipse.org/emf/2002/Ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 1000
http://www.eclipse.org/emf/2002/Ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 2 ; 30000
http://www.eclipse.org/emf/2002/Ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 3 ; 1000000
http://www.eclipse.org/emf/2002/Ecore ; rolemodels/ExtractSubX.rolestext ; 1 ; 500000
http://www.eclipse.org/emf/2002/Ecore ; rolemodels/removeUnusedContainedX.rolestext ; 1 ; 10000

// UML
http://www.eclipse.org/uml2/4.0.0/UML ; rolemodels/moveX.rolestext ; 1 ; 100000
http://www.eclipse.org/uml2/4.0.0/UML ; rolemodels/IntroduceReferenceClass.rolestext ; 1 ; 100000
http://www.eclipse.org/uml2/4.0.0/UML ; rolemodels/ExtractX.rolestext ; 1 ; 1000000
http://www.eclipse.org/uml2/4.0.0/UML ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 1000000
http://www.eclipse.org/uml2/4.0.0/UML ; rolemodels/ExtractSubX.rolestext ; 1 ; 500000
http://www.eclipse.org/uml2/4.0.0/UML ; rolemodels/removeUnusedContainedX.rolestext ; 1 ; 100000

// BPMN2
http://www.omg.org/spec/BPMN/20100524/MODEL-XMI ; rolemodels/moveX.rolestext ; 1 ; 100000
http://www.omg.org/spec/BPMN/20100524/MODEL-XMI ; rolemodels/IntroduceReferenceClass.rolestext ; 1 ; 100000
http://www.omg.org/spec/BPMN/20100524/MODEL-XMI ; rolemodels/ExtractX.rolestext ; 1 ; 100000
http://www.omg.org/spec/BPMN/20100524/MODEL-XMI ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 1000000
http://www.omg.org/spec/BPMN/20100524/MODEL-XMI ; rolemodels/ExtractSubX.rolestext ; 1 ; 1000000
http://www.omg.org/spec/BPMN/20100524/MODEL-XMI ; rolemodels/removeUnusedContainedX.rolestext ; 1 ; 100000

// Java
http://www.emftext.org/java ; rolemodels/moveX.rolestext ; 1 ; 100000
http://www.emftext.org/java ; rolemodels/IntroduceReferenceClass.rolestext ; 1 ; 100000
http://www.emftext.org/java ; rolemodels/ExtractX.rolestext ; 1 ; 100000
http://www.emftext.org/java ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 1000000
http://www.emftext.org/java ; rolemodels/ExtractSubX.rolestext ; 1 ; 500000
http://www.emftext.org/java ; rolemodels/removeUnusedContainedX.rolestext ; 1 ; 100000

// CS
http://www.emftext.org/sdk/concretesyntax ; rolemodels/moveX.rolestext ; 1 ; 100000
http://www.emftext.org/sdk/concretesyntax ; rolemodels/IntroduceReferenceClass.rolestext ; 1 ; 100000
http://www.emftext.org/sdk/concretesyntax ; rolemodels/ExtractX.rolestext ; 1 ; 100000
http://www.emftext.org/sdk/concretesyntax ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 500000
http://www.emftext.org/sdk/concretesyntax ; rolemodels/ExtractSubX.rolestext ; 1 ; 500000
http://www.emftext.org/sdk/concretesyntax ; rolemodels/removeUnusedContainedX.rolestext ; 1 ; 10000

// Feature Models
metamodels/feature.ecore ; rolemodels/moveX.rolestext ; 1 ; 100000
metamodels/feature.ecore ; rolemodels/IntroduceReferenceClass.rolestext ; 1 ; 100000
metamodels/feature.ecore ; rolemodels/ExtractX.rolestext ; 1 ; 1000
metamodels/feature.ecore ; rolemodels/ExtractX.rolestext ; 2 ; 1000
metamodels/feature.ecore ; rolemodels/ExtractX.rolestext ; 3 ; 10000
metamodels/feature.ecore ; rolemodels/ExtractX.rolestext ; 4 ; 10000
metamodels/feature.ecore ; rolemodels/ExtractX.rolestext ; 5 ; 10000
metamodels/feature.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 1000
metamodels/feature.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 2 ; 1000
metamodels/feature.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 3 ; 1000
metamodels/feature.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 4 ; 1000
metamodels/feature.ecore ; rolemodels/ExtractSubX.rolestext ; 1 ; 500000
metamodels/feature.ecore ; rolemodels/removeUnusedContainedX.rolestext ; 1 ; 1000

// TimedAutomata
http://www.emftext.org/language/timedAutomata ; rolemodels/moveX.rolestext ; 1 ; 100000
http://www.emftext.org/language/timedAutomata ; rolemodels/IntroduceReferenceClass.rolestext ; 1 ; 100000
http://www.emftext.org/language/timedAutomata ; rolemodels/ExtractX.rolestext ; 1 ; 100000
http://www.emftext.org/language/timedAutomata ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 500000
http://www.emftext.org/language/timedAutomata ; rolemodels/ExtractXwithReferenceClass.rolestext ; 2 ; 500000
http://www.emftext.org/language/timedAutomata ; rolemodels/ExtractXwithReferenceClass.rolestext ; 3 ; 500000
http://www.emftext.org/language/timedAutomata ; rolemodels/ExtractSubX.rolestext ; 1 ; 500000
http://www.emftext.org/language/timedAutomata ; rolemodels/ExtractSubX.rolestext ; 2 ; 500000
http://www.emftext.org/language/timedAutomata ; rolemodels/removeUnusedContainedX.rolestext ; 1 ; 1000

// PL/0
http://www.emftext.org/language/pl0 ; rolemodels/moveX.rolestext ; 1 ; 100000
http://www.emftext.org/language/pl0 ; rolemodels/IntroduceReferenceClass.rolestext ; 1 ; 100000
http://www.emftext.org/language/pl0 ; rolemodels/ExtractX.rolestext ; 1 ; 100000
http://www.emftext.org/language/pl0 ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 20000
http://www.emftext.org/language/pl0 ; rolemodels/ExtractXwithReferenceClass.rolestext ; 4 ; 20000
http://www.emftext.org/language/pl0 ; rolemodels/ExtractSubX.rolestext ; 1 ; 500000
http://www.emftext.org/language/pl0 ; rolemodels/removeUnusedContainedX.rolestext ; 1 ; 10000

// OWL
metamodels/owl.ecore ; rolemodels/moveX.rolestext ; 1 ; 100000
metamodels/owl.ecore ; rolemodels/IntroduceReferenceClass.rolestext ; 1 ; 100000
metamodels/owl.ecore ; rolemodels/ExtractX.rolestext ; 1 ; 100000
metamodels/owl.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 100000
// metamodels/owl.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 2 ; 1000000
metamodels/owl.ecore ; rolemodels/ExtractSubX.rolestext ; 1 ; 500000
metamodels/owl.ecore ; rolemodels/removeUnusedContainedX.rolestext ; 1 ; 1000

// Conference
metamodels/conference.ecore ; rolemodels/moveX.rolestext ; 1 ; 100000
metamodels/conference.ecore ; rolemodels/moveX.rolestext ; 2 ; 100000
metamodels/conference.ecore ; rolemodels/moveX.rolestext ; 3 ; 100000
metamodels/conference.ecore ; rolemodels/moveX.rolestext ; 4 ; 100000
metamodels/conference.ecore ; rolemodels/IntroduceReferenceClass.rolestext ; 1 ; 100000
metamodels/conference.ecore ; rolemodels/IntroduceReferenceClass.rolestext ; 2 ; 100000
metamodels/conference.ecore ; rolemodels/IntroduceReferenceClass.rolestext ; 3 ; 100000
metamodels/conference.ecore ; rolemodels/IntroduceReferenceClass.rolestext ; 4 ; 100000
metamodels/conference.ecore ; rolemodels/ExtractX.rolestext ; 1 ; 100000
metamodels/conference.ecore ; rolemodels/ExtractX.rolestext ; 2 ; 100000
metamodels/conference.ecore ; rolemodels/ExtractX.rolestext ; 3 ; 100000
metamodels/conference.ecore ; rolemodels/ExtractX.rolestext ; 4 ; 100000
metamodels/conference.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 1000
metamodels/conference.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 2 ; 1000
metamodels/conference.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 3 ; 1000
metamodels/conference.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 4 ; 1000
metamodels/conference.ecore ; rolemodels/ExtractSubX.rolestext ; 1 ; 500000
metamodels/conference.ecore ; rolemodels/ExtractSubX.rolestext ; 2 ; 500000
metamodels/conference.ecore ; rolemodels/ExtractSubX.rolestext ; 3 ; 500000
metamodels/conference.ecore ; rolemodels/ExtractSubX.rolestext ; 4 ; 500000
metamodels/conference.ecore ; rolemodels/removeUnusedContainedX.rolestext ; 1 ; 100000
metamodels/conference.ecore ; rolemodels/removeUnusedContainedX.rolestext ; 2 ; 100000
metamodels/conference.ecore ; rolemodels/removeUnusedContainedX.rolestext ; 3 ; 100000
metamodels/conference.ecore ; rolemodels/removeUnusedContainedX.rolestext ; 4 ; 100000
