<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/ExtractSubProcess.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/RenameIdentifiable.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Extract SubProcess"
            nsUri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI"
            postprocessor="org.eclipse.stp.bpmn.refactoring.ExtractSubProcessPostProcessor">
      </postprocessor>
   </extension>

</plugin>
