<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.emftext.refactoring.smell.registry.calculation">
      <structureCalculation
            smellMessage="File is transmitted without compression."
            description="Searches for data transmission implemented with the Apache HttpClient library and searches for file transmission without compression."
            patternResource="queries/dataTransmissionWithoutCompressionOptimised.eiq"
            patternName="dataTransmissionWithoutCompressionOptimised">
      </structureCalculation>
   </extension>
   <extension
         id="earlyBinding"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="earlybinding.EarlyBindingMatcherFactory$Provider"
            id="earlyBinding">
      </matcher>
   </extension>
   <extension
         id="earlyBinding3"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="earlybinding3.EarlyBinding3MatcherFactory$Provider"
            id="earlyBinding3">
      </matcher>
   </extension>
   <extension
         id="dataTransmissionWithoutCompression"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="datatransmissionwithoutcompression.DataTransmissionWithoutCompressionMatcherFactory$Provider"
            id="dataTransmissionWithoutCompression">
      </matcher>
   </extension>
   <extension
         id="dataTransmissionWithoutCompressionOptimised"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="datatransmissionwithoutcompressionoptimised.DataTransmissionWithoutCompressionOptimisedMatcherFactory$Provider"
            id="dataTransmissionWithoutCompressionOptimised">
      </matcher>
   </extension>

</plugin>
