// syntax: <metamodel> ; <rolemodel> ; <max_path_length> ; <max_results_count>
// <metamodel> : [<path_relative_from_root_of_this_project> 
// 					| <metamodel_uri_starting_with_http>] 		<-- in this case the according resource factory must be registered
//
// <rolemodel> : <path_relative_from_root_of_this_project>

http://www.emftext.org/language/pl0 ; rolemodels/ExtractXwithReferenceClass.rolestext ; 4 ; 50000
metamodels/EExtractXWithReferenceClass.ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 4 ; 1000
http://www.eclipse.org/emf/2002/Ecore ; rolemodels/ExtractXwithReferenceClass.rolestext ; 2 ; 30000
http://www.emftext.org/sdk/concretesyntax ; rolemodels/ExtractXwithReferenceClass.rolestext ; 1 ; 50000
// http://www.emftext.org/sdk/concretesyntax ; rolemodels/ExtractXwithReferenceClass.rolestext ; 2 ; 500