<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.reuseware.sokan.index">
      <indexer
            class="org.emftext.refactoring.indexconnector.impl.RefactoringIndexer"
            id="org.emftext.refactoring.indexer">
      </indexer>
   </extension>

</plugin>
