<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            defaultIcon="icons/defaultTest.png"
            rolemapping_resource="rolemappings/extractProcedure.rolemapping">
         <conditions
               mapping_name="Extract Procedure"
               postConditions="constraints/extractProcedure_post.ocl">
            <errorMessage
                  constraintName="uniqueVarName"
                  message="Variables must have unique names. Please choose a different one.">
            </errorMessage>
            <errorMessage
                  constraintName="uniqueProcedureName"
                  message="Procedures must have unique names. Please choose a different one.">
            </errorMessage>
         </conditions>
      </rolemapping>
      <rolemapping
            defaultIcon="icons/defaultTest.png"
            rolemapping_resource="rolemappings/pullUpConstant.rolemapping">
      </rolemapping>
      <rolemapping
            defaultIcon="icons/defaultTest.png"
            rolemapping_resource="rolemappings/renamings.rolemapping">
         <mappingIcon
               icon="icons/test.png"
               mapping_name="RenameProgram">
         </mappingIcon>
      </rolemapping>
   </extension>

</plugin>
