<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            defaultIcon="icons/newRoleName.png"
            rolemapping_resource="rolemappings/RenameMappings.rolemapping">
      </rolemapping>
   </extension>

</plugin>
