<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/renamings.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/extractings.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/inlinings.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="RenameSimpleNameCS"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.OCLPostProcessor">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Extract Variable"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.ExLetExpPostProcessor">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Inline Variable"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.InlineVariablePP">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Remove Redundant Brackets"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.RemoveRedundantBrackets">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Remove All Redundant Brackets"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.RemoveAllRedundantBrackets">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Remove Unused Variable Declarations"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.RemoveUnusedVariableDeclarationsPP">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="RenameNamedLiteralExpCS"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.RenameNamedLiteralExpPostProcessor">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Split Expression"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.SplitExpressionPP">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Split Expression Atomic"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.SplitExpressionAtomicPP">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Merge Atomic Expressions"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.MergeAtomicExpressionsPP">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Merge Expressions"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.MergeExpressionsPP">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="RenameVariable"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.RenameVariablePP">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Inline Variable Here"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.InlineVariablePP">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Separate Context Classifiers"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.SeparateContextClassifiersPP">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="Merge Chained Let Expressions"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.MergeLetExpPP">
      </postprocessor>
   </extension>

</plugin>
