<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/RemoveUnusedParameter.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/ExtractMethod.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/RenameElement.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/RemoveEmptyMethods.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/MoveRequestToVisibleState.rolemapping">
         <mappingIcon
               icon="icons/move_to_on_resume.png"
               mapping_name="Move GPS resource request to visible state method">
         </mappingIcon>
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/AddDataCompression.rolemapping">
         <mappingIcon
               icon="icons/exportzip_wiz.gif"
               mapping_name="Add Data Compression to Apache HTTP Client based file transmission">
         </mappingIcon>
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="ExtractMethod"
            nsUri="http://www.emftext.org/java"
            postprocessor="org.emftext.jamopp.refactoring.JavaExtractMethodPostProcessor">
      </postprocessor>
      <postprocessor
            mapping_name="Add Data Compression to Apache HTTP Client based file transmission"
            nsUri="http://www.emftext.org/java"
            postprocessor="org.emftext.language.java.refactoring.AddDataCompressionPostProcessor">
      </postprocessor>
      <postprocessor
            mapping_name="Move GPS resource request to visible state method"
            nsUri="http://www.emftext.org/java"
            postprocessor="org.emftext.language.java.refactoring.MoveRequestToVisibleStatePostProcessor">
      </postprocessor>
   </extension>

</plugin>
