<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.language.refactoring.rolemapping.resource.rolemapping.default_load_options">
      <provider
            class="org.emftext.language.refactoring.rolemapping.postprocessing.RoleMappingOptionProvider"
            id="org.emftext.language.refactoring.rolemapping.postprocessing.provider1">
      </provider>
   </extension>

</plugin>
