<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Register role mappings -->
	<extension point="org.emftext.refactoring.rolemapping">
		<rolemapping
			rolemapping_resource="rolemappings/extractRule.rolemapping">
		</rolemapping>
		<rolemapping
			rolemapping_resource="rolemappings/renameToken.rolemapping">
		</rolemapping>
	</extension>

 <extension
       point="org.emftext.refactoring.postprocessor">
    <postprocessor
          mapping_name="ExtractRule"
          nsUri="http://www.emftext.org/sdk/concretesyntax"
          postprocessor="org.emftext.sdk.concretesyntax.refactoring.ExtractRulePostProcessor">
    </postprocessor>
 </extension>

</plugin>
