<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension-point id="calculation" name="Smell Calculation" schema="schema/calculation.exsd"/>

   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="org.emftext.refactoring.smell.problem"
         name="Quality Smell"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.emf.ecore.diagnostic">
      </super>
   </extension>

</plugin>
