<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.qualitune.evolution.tracing.presentation.TracingModelWizardID"
            name="%_UI_TracingModelWizard_label"
            class="org.qualitune.evolution.tracing.presentation.TracingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TracingModelFile.gif">
         <description>%_UI_TracingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.qualitune.evolution.tracing.presentation.TracingEditorID"
            name="%_UI_TracingEditor_label"
            icon="icons/full/obj16/TracingModelFile.gif"
            extensions="tracing"
            class="org.qualitune.evolution.tracing.presentation.TracingEditor"
            contributorClass="org.qualitune.evolution.tracing.presentation.TracingActionBarContributor">
      </editor>
   </extension>

</plugin>
