<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.mopp.RefspecMetaInformation" id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.mopp.RefspecMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="refspec" icon="icons/editor_icon.gif" id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecEditor" name="EMFText refspec Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Refspec Text Editor" id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecPreferencePage" class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecSyntaxColoringPreferencePage" class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecSyntaxColoringPreferencePage" category="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecBracketPreferencePage" class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecBracketPreferencePage" category="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecOccurrencePreferencePage" class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecOccurrencePreferencePage" category="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecNewFileWizard" id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.ui.RefspecNewFileWizard" name="EMFText .refspec file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.nature" name="refspec nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.mopp.RefspecNature" />
		</runtime>
		<builder id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.builder" name="refspec Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.mopp.RefspecBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.refactoring.refactoring_specification.resource.refspec.mopp.RefspecResourceFactoryDelegator" type="refspec">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.refactoring.refactoring_specification.resource.refspec.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
