<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.smell.calculation.calculation">
      <calculation
            class="org.emftext.refactoring.smell.uml_extension.CheckInterfaceSpecifications">
      </calculation>
      <calculation
            class="org.emftext.refactoring.smell.uml_extension.CompareNames">
      </calculation>
      <calculation
            class="org.emftext.refactoring.smell.uml_extension.CountParametersOfMethods">
      </calculation>
      <calculation
            class="org.emftext.refactoring.smell.uml_extension.SearchEmptyClassesAndInterfaces">
      </calculation>
   </extension>

</plugin>
