<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.qualitune.evolution.knowledgebase">
      <knowledgebase
            implementation="org.qualitune.evolution.guery.GueryKnowledgeBase">
      </knowledgebase>
   </extension>

</plugin>
