<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/roles"
            class="roles.RolesPackage"
            genModel="metamodel/roles.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.emftext.language.refactoring.remfactor"
            name="rEMFactor">
      </category>
   </extension>

</plugin>
