../../runtime-Evolution_WS/org.emftext.language.java.refactoring.smell.android.test/src/org/emftext/refactoring/languages/java/smell/android/test/DataTransmissionWithoutCompression.java ; ../../runtime-Evolution_WS/org.emftext.language.java.refactoring.smell.android.test
../../runtime-Evolution_WS/TestProject/models/RenameXample.rolestext