<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/oclrename.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="RenameSimpleNameCS"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.OCLPostProcessor">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/extractings.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="ExtractLetExpression"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.ExtractLetExpPostProcessor">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="RenameNamedLiteralExpCS"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.RenameNamedLiteralExpPostProcessor">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="ExLetExp"
            nsUri="http://www.tu-dresden.de/ocl20/pivot/language/ocl"
            postprocessor="oclrefactoring.ExLetExpPostProcessor">
      </postprocessor>
   </extension>

</plugin>
