<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/pullUp.rolemapping">
      </rolemapping>
   </extension>

   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/extractEnum.rolemapping">
      </rolemapping>
   </extension>

   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/introduceParameterObject.rolemapping">
      </rolemapping>
   </extension>

   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/generalizeDeclaredType.rolemapping">
      </rolemapping>
   </extension>

   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/useSuperTypeWherePossible.rolemapping">
      </rolemapping>
   </extension>

   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/replaceInheritanceWithDelegation.rolemapping">
      </rolemapping>
   </extension>

   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/extractSuperClass.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/extractInterfaceFromFeatures.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/extractInterfaceFromOperations.rolemapping">
      </rolemapping>
   </extension>
   <extension
         point="org.emftext.refactoring.postprocessor">
      <postprocessor
            mapping_name="ExtractInterfaceFromFeatures"
            nsUri="http://www.eclipse.org/emf/2002/Ecore"
            postprocessor="org.eclipse.emf.ecore.refactoring.postprocessors.InterfaceFromFeaturesPostProcessor">
      </postprocessor>
   </extension>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/extractSubEPackage.rolemapping">
      </rolemapping>
   </extension>
</plugin>
