<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2006-2012
 Software Technology Group, Dresden University of Technology
 DevBoost GmbH, Berlin, Amtsgericht Charlottenburg, HRB 140026
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Software Technology Group - TU Dresden, Germany;
   DevBoost GmbH - Berlin, Germany
      - initial API and implementation
  
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.qualitune.org/operators"
            class="org.qualitune.evolution.operators.OperatorsPackage"
            genModel="metamodel/operators.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">

    <category
          id="org.emftext.language.refactoring.specification.category2"
          mandatory="true"
          name="RefSpec constraints">
	</category>
      
    <constraintProvider
          cache="true"
          mode="Batch">
         <package namespaceUri="http://www.qualitune.org/operators" />
         
         <constraints categories="org.emftext.language.refactoring.specification.category2">

            <constraint
                  class="org.qualitune.evolution.operators.util.OCLConstraintProvider"
                  id="org.emftext.language.refactoring.specification.uniqueNameConstraint"
                  lang="Java"
                  mode="Batch"
                  name="Unique variable names"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
               <description>
                  All variable declarations (including index variables) in a RefSpec should have unique names.
               </description>
               <target
                     class="RefactoringSpecification"></target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
<extension point="org.eclipse.emf.validation.constraintBindings">
    <clientContext
          default="false"
          id="org.emftext.language.refactoring.specification.clientContext2">
        <enablement>
        </enablement>
	</clientContext>
    <binding
          category="org.emftext.language.refactoring.specification.category2"
          context="org.emftext.language.refactoring.specification.clientContext2">
    </binding>
	</extension>
   <!--
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.qualitune.evolution.operators.category.ocl"
            mandatory="true"
            name="Operators OCL constraints">
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://www.qualitune.org/operators">
         </package>
         <constraints
               categories="org.qualitune.evolution.operators.category.ocl">
            <constraint
                  class="org.qualitune.evolution.operators.util.OCLConstraintProvider"
                  id="org.qualitune.evolution.operators.oclconstraintWrapper"
                  lang="Java"
                  mode="Batch"
                  name="Constraint which wraps the defined OCL constraints"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
               <description>
                  Invokes validation by delegating to OCL interpretation.
               </description>
            </constraint></constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="org.qualitune.evolution.operators.oclclientContext">
         <enablement>
            <instanceof
                  value="org.eclipse.emf.ecore.EObject">
            </instanceof></enablement>
      </clientContext>
      <binding
            category="org.qualitune.evolution.operators.category.ocl"
            context="org.qualitune.evolution.operators.oclclientContext">
      </binding>
   </extension>
-->
</plugin>
