<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2006-2012
 Software Technology Group, Dresden University of Technology
 DevBoost GmbH, Berlin, Amtsgericht Charlottenburg, HRB 140026
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   Software Technology Group - TU Dresden, Germany;
   DevBoost GmbH - Berlin, Germany
      - initial API and implementation
  
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.qualitune.org/operators"
            class="org.qualitune.evolution.operators.OperatorsPackage"
            genModel="metamodel/operators.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.qualitune.evolution.operators.category.ocl"
            mandatory="true"
            name="Operators OCL constraints">
      </category>
      <constraintProvider
            cache="true"
            mode="Live">
         <package
               namespaceUri="http://www.qualitune.org/operators">
         </package>
         <constraints
               categories="org.qualitune.evolution.operators.category.ocl">
            <constraint
                  class="org.qualitune.evolution.operators.util.OCLConstraintProvider"
                  id="org.qualitune.evolution.operators.OCLconstraintWrapper"
                  lang="Java"
                  mode="Live"
                  name="Constraint which wraps the defined OCL constraints"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
               <description>
                  Invokes validation by delegating to OCL interpretation.
               </description>
            </constraint></constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="org.qualitune.evolution.operators.OCLclientContext">
         <enablement></enablement>
      </clientContext>
      <binding
            category="org.qualitune.evolution.operators.category.ocl"
            context="org.qualitune.evolution.operators.OCLclientContext">
      </binding>
   </extension>

</plugin>
