<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="dk.itu.sdg.language.coral.resource.coral.mopp.CoralMetaInformation" id="dk.itu.sdg.language.coral.resource.coral.mopp.CoralMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="dk.itu.sdg.language.coral.resource.coral.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="dk.itu.sdg.language.coral.resource.coral.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="dk.itu.sdg.language.coral.resource.coral.problem">
		</super>
	</extension>
	
	<extension id="dk.itu.sdg.language.coral.resource.coral.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="dk.itu.sdg.language.coral.resource.coral.problem">
		</super>
	</extension>
	
	<extension id="dk.itu.sdg.language.coral.resource.coral.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="dk.itu.sdg.language.coral.resource.coral.problem">
		</super>
	</extension>
	
	<extension id="dk.itu.sdg.language.coral.resource.coral.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="dk.itu.sdg.language.coral.resource.coral.problem">
		</super>
	</extension>
	
	<extension id="dk.itu.sdg.language.coral.resource.coral.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="dk.itu.sdg.language.coral.resource.coral.problem">
		</super>
	</extension>
	
	<extension id="dk.itu.sdg.language.coral.resource.coral.nature" name="coral nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="dk.itu.sdg.language.coral.resource.coral.mopp.CoralNature">
			</run>
		</runtime>
		<builder id="dk.itu.sdg.language.coral.resource.coral.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="dk.itu.sdg.language.coral.resource.coral.builder" name="coral Builder">
		<builder hasNature="true">
			<run class="dk.itu.sdg.language.coral.resource.coral.mopp.CoralBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="dk.itu.sdg.language.coral.resource.coral.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="dk.itu.sdg.language.coral.resource.coral.mopp.CoralResourceFactoryDelegator" type="coral">
		</parser>
	</extension>
	
	<extension-point id="dk.itu.sdg.language.coral.resource.coral.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="dk.itu.sdg.language.coral.resource.coral.debug.CoralLineBreakpoint" id="dk.itu.sdg.language.coral.resource.coral.debug.breakpoint" markerType="dk.itu.sdg.language.coral.resource.coral.debug.lineBreakpoint.marker" name="coral Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="dk.itu.sdg.language.coral.resource.coral.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="dk.itu.sdg.language.coral.resource.coral.ui.launchConfigurationType" delegate="dk.itu.sdg.language.coral.resource.coral.launch.CoralLaunchConfigurationDelegate" modes="run,debug" name="coral Application" sourceLocatorId="dk.itu.sdg.language.coral.resource.coral.ui.sourceLocator" sourcePathComputerId="dk.itu.sdg.language.coral.resource.coral.ui.sourcePathComputer" delegateName="coral Launch Tooling" delegateDescription="This will run or debug .coral files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="dk.itu.sdg.language.coral.resource.coral.debug.CoralSourcePathComputerDelegate" id="dk.itu.sdg.language.coral.resource.coral.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="dk.itu.sdg.language.coral.resource.coral.ui.sourceLocator" class="dk.itu.sdg.language.coral.resource.coral.debug.CoralSourceLocator" name="coral Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
