<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.modelrefactoring.evolution.coed.resource.coed.mopp.CoedMetaInformation" id="org.modelrefactoring.evolution.coed.resource.coed.mopp.CoedMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.coed.resource.coed.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.coed.resource.coed.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.coed.resource.coed.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.coed.resource.coed.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.coed.resource.coed.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.coed.resource.coed.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.coed.resource.coed.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.coed.resource.coed.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.coed.resource.coed.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.coed.resource.coed.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.coed.resource.coed.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.coed.resource.coed.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.coed.resource.coed.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.coed.resource.coed.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.modelrefactoring.evolution.coed.resource.coed.problem">
		</super>
	</extension>
	
	<extension id="org.modelrefactoring.evolution.coed.resource.coed.nature" name="coed nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.modelrefactoring.evolution.coed.resource.coed.mopp.CoedNature">
			</run>
		</runtime>
		<builder id="org.modelrefactoring.evolution.coed.resource.coed.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.modelrefactoring.evolution.coed.resource.coed.builder" name="coed Builder">
		<builder hasNature="true">
			<run class="org.modelrefactoring.evolution.coed.resource.coed.mopp.CoedBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.modelrefactoring.evolution.coed.resource.coed.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.modelrefactoring.evolution.coed.resource.coed.mopp.CoedResourceFactoryDelegator" type="coed">
		</parser>
	</extension>
	
	<extension-point id="org.modelrefactoring.evolution.coed.resource.coed.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
