<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            defaultIcon="icons/defaultTest.png"
            rolemapping_resource="rolemappings/pl0mapping.rolemapping">
         <mappingIcon
               icon="icons/test.png"
               mapping_name="ExtractProcedure">
         </mappingIcon>
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/conference.rolemapping">
      </rolemapping>
   </extension>

</plugin>
