<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.refactoring.smell.smell_model.metric">
      <metric
            class="org.emftext.refactoring.smell.ecore_extension.CountAttributesOfMethods">
      </metric>
      <metric
            class="org.emftext.refactoring.smell.ecore_extension.CompareNamesOfClasses">
      </metric>
      <metric
            class="org.emftext.refactoring.smell.ecore_extension.CheckClasses">
      </metric>
      <metric
            class="org.emftext.refactoring.smell.ecore_extension.CheckInterfaces">
      </metric>
   </extension>

</plugin>
