<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.emftext.refactoring.smell.smell_model.metric" name="Metric" schema="schema/org.emftext.refactoring.smell.smell_model.metric.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.emftext.refactoring.smell.core.smell_model.view.category"
            name="Modelsmell View">
      </category>
      <view
            category="org.emftext.refactory.ui.view"
            class="org.emftext.refactoring.smell.smell_model.ui.View"
            icon="src/org/emftext/refactoring/smell/smell_model/ui/view.gif"
            id="org.emftext.refactoring.smell.core.smell_model.view"
            name="Modelsmells">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.emftext.refactoring.smell.smell_model.ui.View_Quickfixer">
      </markerResolutionGenerator>
   </extension>

</plugin>
