<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.qualitune.view.category"
            class="org.qualitune.evolution.cods.ui.InstanceModelView"
            icon="icons/reltopics_co.gif"
            id="org.qualitune.evolution.cods.ui.TerminalModelView"
            name="Instance Models">
      </view>
   </extension>

</plugin>
