<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.language.ecore.resource.text.default_load_options">
      <provider
            class="org.emftext.language.ecore.resource.text.postprocessing.TextEcoreOptionProvider"
            id="org.emftext.language.ecore.resource.text.postprocessing.provider1">
      </provider>
   </extension>

</plugin>
