<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated coed -->
      <package
            uri="http://www.modelrefactoring.org/evolution/coed"
            class="org.modelrefactoring.evolution.coed.CoedPackage"
            genModel="metamodel/coed.genmodel"/>
   </extension>

</plugin>
