<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.qualitune.org/guery"
            class="org.qualitune.guery.GueryPackage"
            genModel="metamodel/guery.genmodel"/>
   </extension>

</plugin>
