<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.refactoring.composition.resource.mopp.RefcompMetaInformation" id="org.emftext.language.refactoring.composition.resource.mopp.RefcompMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.refactoring.composition.resource.refcomp.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.emftext.language.refactoring.composition.resource.refcomp.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.refactoring.composition.resource.refcomp.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.refactoring.composition.resource.refcomp.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.refactoring.composition.resource.refcomp.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.refactoring.composition.resource.refcomp.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.refactoring.composition.resource.refcomp.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.refactoring.composition.resource.refcomp.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.refactoring.composition.resource.refcomp.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.refactoring.composition.resource.refcomp.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.refactoring.composition.resource.refcomp.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.refactoring.composition.resource.refcomp.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.refactoring.composition.resource.refcomp.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.refactoring.composition.resource.refcomp.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.emftext.language.refactoring.composition.resource.refcomp.problem">
		</super>
	</extension>
	
	<extension id="org.emftext.language.refactoring.composition.resource.refcomp.nature" name="refcomp nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.refactoring.composition.resource.mopp.RefcompNature">
			</run>
		</runtime>
		<builder id="org.emftext.language.refactoring.composition.resource.refcomp.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.refactoring.composition.resource.refcomp.builder" name="refcomp Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.refactoring.composition.resource.mopp.RefcompBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.refactoring.composition.resource.refcomp.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.refactoring.composition.resource.mopp.RefcompResourceFactoryDelegator" type="refcomp">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.refactoring.composition.resource.refcomp.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
