<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://smell_model/1.0"
            class="org.eclipse.emf.modelSmells.smell_model.Smell_modelPackage"
            genModel="metamodel/smell_model.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
               category="org.eclipse.emf.modelSmells.smell_model.impl.plugin_modelsmell_view_category"
               class="org.eclipse.emf.modelSmells.smell_model.impl.ViewImpl"
               icon="src/org/eclipse/emf/modelSmells/smell_model/icons/view.gif"
               id="org.eclipse.emf.modelSmells.smell_model.impl.plugin_modelsmell_view"
               name="Modelsmells"/>
         <category
               id="org.eclipse.emf.modelSmells.smell_model.impl.plugin_modelsmell_view_category"
               name="Modelsmell View">
         </category>
   </extension>

</plugin>
